## Data Pre-Preprocessing and cleaning

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
data = pd.read_csv("Batsmen.csv")
data.head()

,Innings Player,Innings Runs Scored,Innings Runs Scored Num,Innings Minutes Batted,Innings Batted Flag,Innings Not Out Flag,Innings Balls Faced,Innings Boundary Fours,Innings Boundary Sixes,Innings Batting Strike Rate,...,Innings Overs Bowled,Innings Bowled Flag,Innings Maidens Bowled,Innings Runs Conceded,Innings Wickets Taken,4 Wickets,5 Wickets,10 Wickets,Innings Wickets Taken Buckets,Innings Economy Rate
0,JJ Roy,180,180,151,1.0,0.0,151,16,5,119.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AD Hales,171,171,166,1.0,0.0,122,22,4,140.16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,JJ Roy,162,162,172,1.0,0.0,118,13,3,137.28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AJ Strauss,158,158,188,1.0,0.0,145,18,1,108.96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AJ Strauss,154,154,201,1.0,0.0,140,16,5,110.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
data["Innings Runs Scored Num"].fillna("0",inplace = True)
data["Innings Runs Scored Num"].replace("-","0",inplace = True)
data["Innings Balls Faced"].replace("-","0",inplace = True)
data.fillna(0,inplace = True)
data["Innings Balls Faced"] = data["Innings Balls Faced"].astype(int)
data["Innings Runs Scored Num"] = data["Innings Runs Scored Num"].astype(int)

In [3]:
player_runs = data.groupby("Innings Player")["Innings Runs Scored Num"].sum()
player_innings = data.groupby("Innings Player")['Innings Batted Flag'].sum()
player_notout = data.groupby("Innings Player")['Innings Not Out Flag'].sum()
player_ball_faced  = data.groupby("Innings Player")['Innings Balls Faced'].sum()
player_50  =data.groupby("Innings Player")["50's"].sum()
player_100  =data.groupby("Innings Player")["100's"].sum()

In [4]:
data.head()

,Innings Player,Innings Runs Scored,Innings Runs Scored Num,Innings Minutes Batted,Innings Batted Flag,Innings Not Out Flag,Innings Balls Faced,Innings Boundary Fours,Innings Boundary Sixes,Innings Batting Strike Rate,...,Innings Overs Bowled,Innings Bowled Flag,Innings Maidens Bowled,Innings Runs Conceded,Innings Wickets Taken,4 Wickets,5 Wickets,10 Wickets,Innings Wickets Taken Buckets,Innings Economy Rate
0,JJ Roy,180,180,151,1.0,0.0,151,16,5,119.20,...,0,0.0,0,0,0,0.0,0.0,0.0,0,0
1,AD Hales,171,171,166,1.0,0.0,122,22,4,140.16,...,0,0.0,0,0,0,0.0,0.0,0.0,0,0
2,JJ Roy,162,162,172,1.0,0.0,118,13,3,137.28,...,0,0.0,0,0,0,0.0,0.0,0.0,0,0
3,AJ Strauss,158,158,188,1.0,0.0,145,18,1,108.96,...,0,0.0,0,0,0,0.0,0.0,0.0,0,0
4,AJ Strauss,154,154,201,1.0,0.0,140,16,5,110.00,...,0,0.0,0,0,0,0.0,0.0,0.0,0,0

In [5]:
data.columns
to_del = ['Innings Runs Scored','Innings Minutes Batted','Innings Boundary Fours','Innings Boundary Sixes','4 Wickets',
         "5 Wickets",'Innings Date','Innings Runs Scored Buckets','Innings Wickets Taken Buckets']
data.drop(columns=to_del,axis=1,inplace=True)
data.columns

Index(['Innings Player', 'Innings Runs Scored Num', 'Innings Batted Flag',
       'Innings Not Out Flag', 'Innings Balls Faced',
       'Innings Batting Strike Rate', 'Innings Number', 'Opposition', 'Ground',
       'Country', '50's', '100's', 'Innings Overs Bowled',
       'Innings Bowled Flag', 'Innings Maidens Bowled',
       'Innings Runs Conceded', 'Innings Wickets Taken', '10 Wickets',
       'Innings Economy Rate'],
      dtype='object')

In [6]:
d = {"runs": player_runs,
 "innings":player_innings,
     "not_out":player_notout,
     "balls_faced":player_ball_faced,
     "50's":player_50,
     "100's":player_100,
}
df = pd.DataFrame(d)
df.head()

                runs  innings  not_out  balls_faced  50's  100's
Innings Player
A Balbirnie     5730    192.0     12.0         7590  27.0   15.0
A Bhandari         0      0.0      0.0            0   0.0    0.0
A Dananjaya      849     81.0     15.0         1233   3.0    0.0
A Flintoff      8961    312.0     45.0        10005  48.0    9.0
A Flower        6147    159.0     15.0         7506  48.0    6.0

In [7]:
data['runs_after'] = data.groupby("Innings Player")["Innings Runs Scored Num"].cumsum()
data['innings_after']= data.groupby("Innings Player")['Innings Batted Flag'].cumsum()
data['not_out_after'] = data.groupby("Innings Player")['Innings Not Out Flag'].cumsum()
data['balls_face_after'] = data.groupby("Innings Player")['Innings Balls Faced'].cumsum()
data['50s_after']  =data.groupby("Innings Player")["50's"].cumsum()
data['100s_after']  =data.groupby("Innings Player")["100's"].cumsum()
data['avg_after'] = data['runs_after'] / (data["innings_after"]- data["not_out_after"])
data["s/r_after"] = (data['runs_after']/data['balls_face_after'])*100

In [9]:
data['runs_before'] = data['runs_after']-data['Innings Runs Scored Num']
data['innings_before']= data['innings_after'] - 1
data['not_out_before'] = data["not_out_after"] -1
data['balls_face_before'] = data["balls_face_after"]-data["Innings Balls Faced"]
data['50s_before']  =data['50s_after'] - 1
data['100s_before']  =data['100s_after'] - 1
data['50s_before'].replace(-1,0,inplace = True)
data['100s_before'].replace(-1,0,inplace = True)
data['not_out_before'].replace(-1,0,inplace = True)
data['avg_before'] = data['runs_before'] / (data["innings_before"]- data["not_out_before"])
data["s/r_before"] = (data['runs_before']/data['balls_face_before'])*100
data['avg_before'].fillna(30,inplace=True)
data["s/r_before"].fillna(90,inplace=True)
data["innings_before"].replace(-1,0,inplace = True)

In [10]:
data.head(50)

,Innings Player,Innings Runs Scored Num,Innings Batted Flag,Innings Not Out Flag,Innings Balls Faced,Innings Batting Strike Rate,Innings Number,Opposition,Ground,Country,...,avg_after,s/r_after,runs_before,innings_before,not_out_before,balls_face_before,50s_before,100s_before,avg_before,s/r_before
0,JJ Roy,180,1.0,0.0,151,119.20,2,v Australia,Melbourne,England,...,180.000000,119.205298,0,0.0,0.0,0,0.0,0.0,30.000000,90.000000
1,AD Hales,171,1.0,0.0,122,140.16,1,v Pakistan,Nottingham,England,...,171.000000,140.163934,0,0.0,0.0,0,0.0,0.0,30.000000,90.000000
2,JJ Roy,162,1.0,0.0,118,137.28,2,v Sri Lanka,The Oval,England,...,171.000000,127.137546,180,1.0,0.0,151,0.0,1.0,180.000000,119.205298
3,AJ Strauss,158,1.0,0.0,145,108.96,2,v India,Bengaluru,England,...,158.000000,108.965517,0,0.0,0.0,0,0.0,0.0,30.000000,90.000000
4,AJ Strauss,154,1.0,0.0,140,110.00,1,v Bangladesh,Birmingham,England,...,156.000000,109.473684,158,1.0,0.0,145,0.0,1.0,158.000000,108.965517
5,JJ Roy,153,1.0,0.0,121,126.44,1,v Bangladesh,Cardiff,England,...,165.000000,126.923077,342,2.0,0.0,269,0.0,2.0,171.000000,127.137546
6,AJ Strauss,152,1.0,0.0,128,118.75,1,v Bangladesh,Nottingham,England,...,154.666667,112.348668,312,2.0,0.0,285,0.0,2.0,156.000000,109.473684
7,JC Buttler,150,1.0,0.0,77,194.80,1,v West Indies,St George's,England,...,150.000000,194.805195,0,0.0,0.0,0,0.0,0.0,30.000000,90.000000
8,EJG Morgan,148,1.0,0.0,71,208.45,1,v Afghanistan,Manchester,England,...,148.000000,208.450704,0,0.0,0.0,0,0.0,0.0,30.000000,90.000000
9,AD Hales,147,1.0,0.0,92,159.78,1,v Australia,Nottingham,England,...,159.000000,148.598131,171,1.0,0.0,122,0.0,1.0,171.000000,140.163934
10,JM Bairstow,141,1.0,1.0,114,123.68,2,v West Indies,Southampton,England,...,inf,123.684211,0,0.0,0.0,0,0.0,0.0,30.000000,90.000000
11,IR Bell,141,1.0,0.0,125,112.80,1,v Australia,Hobart,England,...,141.000000,112.800000,0,0.0,0.0,0,0.0,0.0,30.000000,90.000000
12,JM Bairstow,139,1.0,0.0,92,151.08,1,v Australia,Nottingham,England,...,280.000000,135.922330,141,1.0,0.0,114,0.0,1.0,141.000000,123.684211
13,JM Bairstow,138,1.0,0.0,106,130.18,1,v New Zealand,Dunedin,England,...,209.000000,133.974359,280,2.0,0.0,206,0.0,2.0,140.000000,135.922330
14,ME Trescothick,137,1.0,0.0,142,96.47,2,v Pakistan,Lord's,England,...,137.000000,96.478873,0,0.0,0.0,0,0.0,0.0,30.000000,90.000000
15,IJL Trott,137,1.0,0.0,126,108.73,1,v Australia,Sydney,England,...,137.000000,108.730159,0,0.0,0.0,0,0.0,0.0,30.000000,90.000000
16,AN Cook,137,1.0,0.0,142,96.47,1,v Pakistan,Abu Dhabi,England,...,137.000000,96.478873,0,0.0,0.0,0,0.0,0.0,30.000000,90.000000
17,AD Hales,133,1.0,1.0,110,120.90,2,v Sri Lanka,Birmingham,England,...,225.500000,139.197531,318,2.0,0.0,214,0.0,2.0,159.000000,148.598131
18,JE Root,133,1.0,1.0,129,103.10,2,v Bangladesh,The Oval,England,...,inf,103.100775,0,0.0,0.0,0,0.0,0.0,30.000000,90.000000
19,ME Trescothick,130,1.0,0.0,138,94.20,1,v West Indies,Gros Islet,England,...,133.500000,95.357143,137,1.0,0.0,142,0.0,1.0,137.000000,96.478873
20,KP Pietersen,130,1.0,0.0,153,84.96,2,v Pakistan,Dubai (DSC),England,...,130.000000,84.967320,0,0.0,0.0,0,0.0,0.0,30.000000,90.000000
21,JC Buttler,129,1.0,0.0,77,167.53,1,v New Zealand,Birmingham,England,...,139.500000,181.168831,150,1.0,0.0,77,0.0,1.0,150.000000,194.805195
22,MM Ali,128,1.0,0.0,107,119.62,1,v Scotland,Christchurch,England,...,128.000000,119.626168,0,0.0,0.0,0,0.0,0.0,30.000000,90.000000
23,JM Bairstow,128,1.0,0.0,93,137.63,2,v Pakistan,Bristol,England,...,182.000000,134.814815,418,3.0,0.0,312,0.0,3.0,139.333333,133.974359
24,IR Bell,126,1.0,1.0,118,106.77,1,v India,Southampton,England,...,267.000000,109.876543,141,1.0,0.0,125,0.0,1.0,141.000000,112.800000
25,AJ Strauss,126,1.0,0.0,134,94.02,2,v Pakistan,Leeds,England,...,147.500000,107.861060,464,3.0,0.0,413,0.0,3.0,154.666667,112.348668
26,IR Bell,126,1.0,0.0,117,107.69,1,v West Indies,Southampton,England,...,196.500000,109.166667,267,2.0,0.0,243,0.0,2.0,133.500000,109.876543
27,JE Root,125,1.0,0.0,113,110.61,1,v South Africa,Centurion,England,...,258.000000,106.611570,133,1.0,0.0,129,0.0,1.0,133.000000,103.100775
28,EJG Morgan,124,1.0,1.0,106,116.98,2,v Ireland,Dublin (Malahide),England,...,272.000000,153.672316,148,1.0,0.0,71,0.0,1.0,148.000000,208.450704
29,A Flintoff,123,1.0,0.0,104,118.26,1,v West Indies,Lord's,England,...,123.000000,118.269231,0,0.0,0.0,0,0.0,0.0,30.000000,90.000000
30,JJ Roy,123,1.0,0.0,85,144.70,2,v West Indies,Bridgetown,England,...,154.500000,130.105263,495,3.0,0.0,390,0.0,3.0,165.000000,126.923077
31,ME Trescothick,121,1.0,0.0,109,111.00,2,v India,Kolkata,England,...,129.333333,99.742931,267,2.0,0.0,280,0.0,2.0,133.500000,95.357143
32,ME Trescothick,121,1.0,0.0,118,102.54,1,v Sri Lanka,Leeds,England,...,127.250000,100.394477,388,3.0,0.0,389,0.0,3.0,129.333333,99.742931
33,JC Buttler,121,1.0,0.0,74,163.51,2,v Sri Lanka,Lord's,England,...,133.333333,175.438596,279,2.0,0.0,154,0.0,2.0,139.500000,181.168831
34,EJG Morgan,121,1.0,0.0,136,88.97,1,v Australia,Sydney,England,...,196.500000,125.559105,272,2.0,0.0,177,0.0,2.0,136.000000,153.672316
35,JE Root,121,1.0,0.0,108,112.03,1,v Sri Lanka,Wellington,England,...,189.500000,108.285714,258,2.0,0.0,242,0.0,2.0,129.000000,106.611570
36,PD Collingwood,120,1.0,1.0,133,90.22,2,v Australia,Melbourne,England,...,inf,90.225564,0,0.0,0.0,0,0.0,0.0,30.000000,90.000000
37,JJ Roy,120,1.0,0.0,108,111.11,1,v Australia,Cardiff,England,...,147.600000,126.586621,618,4.0,0.0,475,0.0,4.0,154.500000,130.105263
38,ME Trescothick,119,1.0,0.0,102,116.66,1,v Zimbabwe,Colombo (RPS),England,...,125.600000,103.119869,509,4.0,0.0,507,0.0,4.0,127.250000,100.394477
39,AN Cook,119,1.0,0.0,143,83.21,1,v Sri Lanka,Lord's,England,...,128.000000,89.824561,137,1.0,0.0,142,0.0,1.0,137.000000,96.478873
40,MM Ali,119,1.0,0.0,87,136.78,2,v Sri Lanka,Colombo (RPS),England,...,123.500000,127.319588,128,1.0,0.0,107,0.0,1.0,128.000000,119.626168
41,JC Buttler,116,1.0,1.0,52,223.07,1,v Pakistan,Dubai (DSC),England,...,172.000000,184.285714,400,3.0,0.0,228,0.0,3.0,133.333333,175.438596
42,KP Pietersen,116,1.0,0.0,110,105.45,1,v South Africa,Centurion,England,...,123.000000,93.536122,130,1.0,0.0,153,0.0,1.0,130.000000,84.967320
43,N Hussain,115,1.0,0.0,128,89.84,1,v India,Lord's,England,...,115.000000,89.843750,0,0.0,0.0,0,0.0,0.0,30.000000,90.000000
44,ME Trescothick,114,1.0,1.0,125,91.20,2,v South Africa,The Oval,England,...,148.400000,101.089918,628,5.0,0.0,609,0.0,5.0,125.600000,103.119869
45,JJ Roy,114,1.0,0.0,89,128.08,2,v Pakistan,Nottingham,England,...,142.000000,126.785714,738,5.0,0.0,583,0.0,5.0,147.600000,126.586621
46,IR Bell,113,1.0,1.0,143,79.02,2,v India,Dharamsala,England,...,253.000000,100.596421,393,3.0,1.0,360,0.0,3.0,196.500000,109.166667
47,JE Root,113,1.0,1.0,116,97.41,1,v India,Lord's,England,...,246.000000,105.579399,379,3.0,1.0,350,0.0,3.0,189.500000,108.285714
48,ME Trescothick,113,1.0,0.0,114,99.12,1,v Ireland,Belfast,England,...,142.500000,100.825472,742,6.0,0.0,734,0.0,6.0,123.666667,101.089918
49,JE Root,113,1.0,0.0,108,104.62,1,v India,Leeds,England,...,201.666667,105.400697,492,4.0,1.0,466,0.0,4.0,164.000000,105.579399

In [11]:
l = []
for i in range(len(data['avg_after'])):
    if data['avg_after'][i] == np.inf:
        l.append(data['runs_after'][i])
    else:
        l.append(data['avg_after'][i])
data['avg_after'] = l
l = []
for i in range(len(data['avg_before'])):
    if data['avg_before'][i] == np.inf:
        l.append(data['runs_before'][i])
    else:
        l.append(data['avg_before'][i])
data['avg_before'] = l
data.head(100)

,Innings Player,Innings Runs Scored Num,Innings Batted Flag,Innings Not Out Flag,Innings Balls Faced,Innings Batting Strike Rate,Innings Number,Opposition,Ground,Country,...,avg_after,s/r_after,runs_before,innings_before,not_out_before,balls_face_before,50s_before,100s_before,avg_before,s/r_before
0,JJ Roy,180,1.0,0.0,151,119.20,2,v Australia,Melbourne,England,...,180.000000,119.205298,0,0.0,0.0,0,0.0,0.0,30.000000,90.000000
1,AD Hales,171,1.0,0.0,122,140.16,1,v Pakistan,Nottingham,England,...,171.000000,140.163934,0,0.0,0.0,0,0.0,0.0,30.000000,90.000000
2,JJ Roy,162,1.0,0.0,118,137.28,2,v Sri Lanka,The Oval,England,...,171.000000,127.137546,180,1.0,0.0,151,0.0,1.0,180.000000,119.205298
3,AJ Strauss,158,1.0,0.0,145,108.96,2,v India,Bengaluru,England,...,158.000000,108.965517,0,0.0,0.0,0,0.0,0.0,30.000000,90.000000
4,AJ Strauss,154,1.0,0.0,140,110.00,1,v Bangladesh,Birmingham,England,...,156.000000,109.473684,158,1.0,0.0,145,0.0,1.0,158.000000,108.965517
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,KP Pietersen,104,1.0,0.0,122,85.24,1,v Australia,North Sound,England,...,263.333333,96.459096,686,6.0,3.0,697,0.0,6.0,228.666667,98.421808
96,JE Root,104,1.0,0.0,78,133.33,1,v New Zealand,Birmingham,England,...,177.428571,102.138158,1138,10.0,3.0,1138,0.0,10.0,162.571429,100.000000
97,JM Bairstow,104,1.0,0.0,60,173.33,2,v New Zealand,Christchurch,England,...,138.857143,132.786885,868,7.0,0.0,672,0.0,7.0,124.000000,129.166667
98,EJG Morgan,103,1.0,1.0,85,121.17,2,v Australia,Southampton,England,...,191.000000,115.407855,1043,9.0,3.0,908,0.0,9.0,173.833333,114.867841
99,EJG Morgan,103,1.0,0.0,88,117.04,1,v West Indies,St George's,England,...,178.428571,115.541166,1146,10.0,3.0,993,0.0,10.0,163.714286,115.407855

Consistency = 0.4262*average + 0.2566*no. of innings + 0.1510*SR + 0.0787*Centuries + 0.0556*Fifties â€“ 0.0328*Zeros <br>
Form = 0.4262*average + 0.2566*no. of innings + 0.1510*SR + 0.0787*Centuries + 0.0556*Fifties â€“ 0.0328*Zeros

In [12]:
#del(data['consistency'])
f = [(0.4262*data['avg_before'][i]+0.1510*data["s/r_before"][i]+0.2566*data["innings_before"][i]+ 0.0556*data['50s_before'][i]+0.0787*data["100s_before"][i]) for i in range(len(data['100s_before']))]
data['form'] = f
data.head()

,Innings Player,Innings Runs Scored Num,Innings Batted Flag,Innings Not Out Flag,Innings Balls Faced,Innings Batting Strike Rate,Innings Number,Opposition,Ground,Country,...,s/r_after,runs_before,innings_before,not_out_before,balls_face_before,50s_before,100s_before,avg_before,s/r_before,form
0,JJ Roy,180,1.0,0.0,151,119.20,2,v Australia,Melbourne,England,...,119.205298,0,0.0,0.0,0,0.0,0.0,30.0,90.000000,26.376000
1,AD Hales,171,1.0,0.0,122,140.16,1,v Pakistan,Nottingham,England,...,140.163934,0,0.0,0.0,0,0.0,0.0,30.0,90.000000,26.376000
2,JJ Roy,162,1.0,0.0,118,137.28,2,v Sri Lanka,The Oval,England,...,127.137546,180,1.0,0.0,151,0.0,1.0,180.0,119.205298,95.051300
3,AJ Strauss,158,1.0,0.0,145,108.96,2,v India,Bengaluru,England,...,108.965517,0,0.0,0.0,0,0.0,0.0,30.0,90.000000,26.376000
4,AJ Strauss,154,1.0,0.0,140,110.00,1,v Bangladesh,Birmingham,England,...,109.473684,158,1.0,0.0,145,0.0,1.0,158.0,108.965517,84.128693

In [21]:
#data.to_csv("clean_data.csv",index = False)

In [2]:
data = pd.read_csv("clean_data.csv")
data.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (12,14,15,16,18) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Innings Player,Innings Runs Scored Num,Innings Batted Flag,Innings Not Out Flag,Innings Balls Faced,Innings Batting Strike Rate,Innings Number,Opposition,Ground,Country,...,s/r_after,runs_before,innings_before,not_out_before,balls_face_before,50s_before,100s_before,avg_before,s/r_before,form
0,JJ Roy,180,1.0,0.0,151,119.20,2,v Australia,Melbourne,England,...,119.205298,0,0.0,0.0,0,0.0,0.0,30.0,90.000000,26.376000
1,AD Hales,171,1.0,0.0,122,140.16,1,v Pakistan,Nottingham,England,...,140.163934,0,0.0,0.0,0,0.0,0.0,30.0,90.000000,26.376000
2,JJ Roy,162,1.0,0.0,118,137.28,2,v Sri Lanka,The Oval,England,...,127.137546,180,1.0,0.0,151,0.0,1.0,180.0,119.205298,95.051300
3,AJ Strauss,158,1.0,0.0,145,108.96,2,v India,Bengaluru,England,...,108.965517,0,0.0,0.0,0,0.0,0.0,30.0,90.000000,26.376000
4,AJ Strauss,154,1.0,0.0,140,110.00,1,v Bangladesh,Birmingham,England,...,109.473684,158,1.0,0.0,145,0.0,1.0,158.0,108.965517,84.128693

1 â€“ 49: 1 50 â€“ 99: 2 100 â€“ 124: 3 125 â€“ 149: 4 >=150: 5

In [13]:
form = []
for i in data["form"]:
    if i < 50 : form.append(1)
    elif 50 <= i <100 : form.append(2)
    elif 100 <= i <125 : form.append(3)
    elif 125 <= i <150 : form.append(4)
    else: form.append(5)
        
batavg = []
for i in data["avg_before"]:
    if i < 10 : batavg.append(1)
    elif 10 <= i <20 : batavg.append(2)
    elif 20 <= i <30 : batavg.append(3)
    elif 30<= i <40 : batavg.append(4)
    else: batavg.append(5)
        
sr = []
for i in data["s/r_before"]:
    if i < 50 : sr.append(1)
    elif 50 <= i <60 : sr.append(2)
    elif 60 <= i <80 : sr.append(3)
    elif 80 <= i <100 : sr.append(4)
    else: sr.append(5)
data["form_cat"] = form
data["avg_cat"] = batavg
data["sr_cat"] = sr

In [4]:
data

,Innings Player,Innings Runs Scored Num,Innings Batted Flag,Innings Not Out Flag,Innings Balls Faced,Innings Batting Strike Rate,Innings Number,Opposition,Ground,Country,...,not_out_before,balls_face_before,50s_before,100s_before,avg_before,s/r_before,form,form_cat,avg_cat,sr_cat
0,JJ Roy,180,1.0,0.0,151,119.20,2,v Australia,Melbourne,England,...,0.0,0,0.0,0.0,30.000000,90.000000,26.376000,1,4,4
1,AD Hales,171,1.0,0.0,122,140.16,1,v Pakistan,Nottingham,England,...,0.0,0,0.0,0.0,30.000000,90.000000,26.376000,1,4,4
2,JJ Roy,162,1.0,0.0,118,137.28,2,v Sri Lanka,The Oval,England,...,0.0,151,0.0,1.0,180.000000,119.205298,95.051300,2,5,5
3,AJ Strauss,158,1.0,0.0,145,108.96,2,v India,Bengaluru,England,...,0.0,0,0.0,0.0,30.000000,90.000000,26.376000,1,4,4
4,AJ Strauss,154,1.0,0.0,140,110.00,1,v Bangladesh,Birmingham,England,...,0.0,145,0.0,1.0,158.000000,108.965517,84.128693,2,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
327323,Najibullah Zadran,0,0.0,0.0,0,0,2,v West Indies,Lucknow,Afghanistan,...,26.0,5295,32.0,2.0,29.924528,89.858357,75.730046,2,3,4
327324,Rahmat Shah,0,0.0,0.0,0,0,2,v West Indies,Lucknow,Afghanistan,...,5.0,10098,47.0,11.0,35.208955,70.083185,81.927118,2,4,3
327325,Hazratullah Zazai,0,0.0,0.0,0,0,2,v West Indies,Lucknow,Afghanistan,...,0.0,1227,5.0,0.0,23.042553,88.264059,35.486809,1,3,4
327326,Ibrahim Zadran,0,0.0,0.0,0,0,2,v West Indies,Lucknow,Afghanistan,...,0.0,27,0.0,0.0,3.000000,22.222222,5.147356,1,1,1
327327,Ikram Alikhil,0,0.0,0.0,0,0,2,v West Indies,Lucknow,Afghanistan,...,8.0,1158,5.0,0.0,26.000000,60.621762,29.494086,1,3,3

In [14]:
run_cat = []
for i in data["Innings Runs Scored Num"]:
    if i < 25 : run_cat.append(1)
    elif 25 <= i <50 : run_cat.append(2)
    elif 50 <= i <75 : run_cat.append(3)
    elif 75 <= i <100 : run_cat.append(4)
    else: run_cat.append(5)
data["run_class"] = run_cat

In [15]:
data.head()

,Innings Player,Innings Runs Scored Num,Innings Batted Flag,Innings Not Out Flag,Innings Balls Faced,Innings Batting Strike Rate,Innings Number,Opposition,Ground,Country,...,balls_face_before,50s_before,100s_before,avg_before,s/r_before,form,form_cat,avg_cat,sr_cat,run_class
0,JJ Roy,180,1.0,0.0,151,119.20,2,v Australia,Melbourne,England,...,0,0.0,0.0,30.0,90.000000,26.376000,1,4,4,5
1,AD Hales,171,1.0,0.0,122,140.16,1,v Pakistan,Nottingham,England,...,0,0.0,0.0,30.0,90.000000,26.376000,1,4,4,5
2,JJ Roy,162,1.0,0.0,118,137.28,2,v Sri Lanka,The Oval,England,...,151,0.0,1.0,180.0,119.205298,95.051300,2,5,5,5
3,AJ Strauss,158,1.0,0.0,145,108.96,2,v India,Bengaluru,England,...,0,0.0,0.0,30.0,90.000000,26.376000,1,4,4,5
4,AJ Strauss,154,1.0,0.0,140,110.00,1,v Bangladesh,Birmingham,England,...,145,0.0,1.0,158.0,108.965517,84.128693,2,5,5,5

## Training Model

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
data.columns
X = ['sr_cat','avg_cat','form_cat','100s_before','50s_before','not_out_before','innings_before','runs_before']
y = data['run_class']

In [18]:
X_train, X_test, y_train, y_test = train_test_split(data[X], y, test_size=0.2, random_state=32)

In [19]:
from sklearn.naive_bayes import CategoricalNB

In [20]:
X_train.fillna(0,inplace = True)
X_test.fillna(0,inplace = True)
X_train.loc[X_train["innings_before"]<0]
X_test.loc[X_test["innings_before"]<0]
X_train["innings_before"].replace(-1,0,inplace = True)
X_test["innings_before"].replace(-1,0,inplace = True)

## Model for Naive Bayes and RandomForest

In [21]:
gnb = CategoricalNB()
y_pred = gnb.fit(X_train, y_train).predict(X_test)

In [22]:
from sklearn.metrics import accuracy_score

### Naive Bayes

In [23]:
accuracy_score(y_test, y_pred)

0.8379616900375768

In [24]:
from sklearn.ensemble import RandomForestClassifier

In [25]:
rfc = RandomForestClassifier()
pred = rfc.fit(X_train, y_train).predict(X_test)

### Random Forest

In [26]:
accuracy_score(y_test, pred)

0.9679986557907921